*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#D9CBBF;
}
#navbar{
    background-color: #BF895A;
    padding:30px 30px 30px ;
    height: 10px;
}
span{
    font-size: 20px;
    margin: 10px;
    font-family:"block style";
    color: #40291C;
    
    
}
a{
    margin-right: 600px;
    font-size: 20px;
    font-family:"block style";
    color: #40291C;
}
input{
    margin-left: 390px;
    columns:#40291c;
}
button{
    background-color: #40291C;
    color: aliceblue;
    text-transform: capitalize;
}
#content{
               display: flex;
    height: 49vh;
    flex-direction: column;
    width: 880px;
    margin-top: 5px;
            
}

#heading{
    font-family: bolder;
    font-size: 65px;
    color: #40291c;
}
#tagling{
    font-family: sans-serif;
    font-size: 60px;
    color: #BF895A;
}
p{
    font-size: 30px;
}
#last{
        display: inline-block;
    margin: 120px 199px;
    background-color: skyblue;
    padding: 25px;
    border-radius: 19px;
}
#fotter{
        height: 200px;
    background-color: tan;
    margin-top: -97px;
}
#img{ display: flex;
    flex-direction: row;
    
    margin: -388px 900px;
    
}
